In [1]:
import pandas as pd
import numpy as np
from modulos.data_load import load

In [2]:
df = load('DOGEBTC')
df

,unix,date,symbol,open,high,low,close,Volume DOGE,Volume BTC,buyTakerAmount,buyTakerQuantity,tradeCount,weightedAverage
0,1751414400000,2025-07-02 00:00:00,DOGE/BTC,0.000001,0.000001,0.000001,0.000001,0.000016,11.0,0.000016,11.0,1,0.000001
1,1751410800000,2025-07-01 23:00:00,DOGE/BTC,0.000001,0.000001,0.000001,0.000001,0.000172,115.0,0.000140,94.0,6,0.000001
2,1751407200000,2025-07-01 22:00:00,DOGE/BTC,0.000001,0.000001,0.000001,0.000001,0.000049,33.0,0.000049,33.0,1,0.000001
3,1751403600000,2025-07-01 21:00:00,DOGE/BTC,0.000001,0.000001,0.000001,0.000001,0.000238,159.0,0.000238,159.0,4,0.000001
4,1751400000000,2025-07-01 20:00:00,DOGE/BTC,0.000001,0.000001,0.000001,0.000001,0.000040,27.0,0.000040,27.0,2,0.000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100292,1390356000000,2014-01-22 02:00:00,DOGE/BTC,0.000002,0.000002,0.000002,0.000002,0.000000,0.0,0.000000,0.0,0,0.000000
100293,1390352400000,2014-01-22 01:00:00,DOGE/BTC,0.000002,0.000002,0.000002,0.000002,0.000000,0.0,0.000000,0.0,0,0.000000
100294,1390348800000,2014-01-22 00:00:00,DOGE/BTC,0.000002,0.000002,0.000002,0.000002,0.000000,0.0,0.000000,0.0,0,0.000000
100295,1390345200000,2014-01-21 23:00:00,DOGE/BTC,0.000002,0.000002,0.000002,0.000002,0.000000,0.0,0.000000,0.0,0,0.000000
100296,1390341600000,2014-01-21 22:00:00,DOGE/BTC,0.000002,0.000002,0.000002,0.000002,0.013465,6000.0,0.000000,0.0,0,0.000000

In [3]:
df.describe()

,unix,open,high,low,close,Volume DOGE,Volume BTC,buyTakerAmount,buyTakerQuantity,tradeCount,weightedAverage
count,1.002970e+05,1.002970e+05,1.002970e+05,1.002970e+05,1.002970e+05,100297.000000,1.002970e+05,100297.000000,1.002970e+05,100297.000000,1.002970e+05
mean,1.570875e+12,1.536794e-06,1.547914e-06,1.525973e-06,1.536999e-06,5.770247,8.935091e+06,0.005137,1.644344e+03,2.759594,6.858904e-07
std,1.042338e+11,1.694621e-06,1.706212e-06,1.683169e-06,1.694595e-06,47.054691,4.851905e+07,0.074727,1.915653e+04,13.133678,1.267636e-06
min,1.390342e+12,1.400000e-07,1.600000e-07,1.400000e-07,1.400000e-07,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,1.480608e+12,3.800000e-07,3.800000e-07,3.700000e-07,3.800000e-07,0.006360,4.482000e+03,0.000000,0.000000e+00,0.000000,0.000000e+00
50%,1.570874e+12,6.400000e-07,6.500000e-07,6.300000e-07,6.400000e-07,0.114384,1.321522e+05,0.000000,0.000000e+00,0.000000,0.000000e+00
75%,1.661141e+12,2.344000e-06,2.350000e-06,2.335000e-06,2.344000e-06,1.178003,2.237867e+06,0.000000,0.000000e+00,0.000000,1.642000e-06
max,1.751414e+12,1.254000e-05,1.278000e-05,1.232000e-05,1.252000e-05,5249.049921,3.119217e+09,7.648849,2.178551e+06,1105.000000,7.487322e-06