In [1]:
import pandas as pd
import numpy as np
from modulos.data_load import load

In [2]:
df = load('AAVEUSDT')
df

,unix,date,symbol,open,high,low,close,Volume AAVE,Volume USDT,buyTakerAmount,buyTakerQuantity,tradeCount,weightedAverage
0,1751500800000,2025-07-03 00:00:00,AAVE/USDT,276.39000,278.32000,274.47000,275.560000,1.029288e+06,3735.621304,548857.96,1992.041458,7982,275.530000
1,1751497200000,2025-07-02 23:00:00,AAVE/USDT,279.77000,281.01000,276.10000,276.310000,1.299661e+06,4675.328485,678479.27,2440.725684,10291,277.980000
2,1751493600000,2025-07-02 22:00:00,AAVE/USDT,281.10000,281.81000,279.24000,279.540000,7.848610e+05,2796.153839,412103.47,1468.099874,6035,280.690000
3,1751490000000,2025-07-02 21:00:00,AAVE/USDT,279.93000,281.81000,279.13000,281.100000,8.090862e+05,2883.442627,411402.22,1466.146613,6231,280.590000
4,1751486400000,2025-07-02 20:00:00,AAVE/USDT,279.68000,280.44000,277.37000,279.350000,1.131768e+06,4052.875115,592651.66,2122.523278,8724,279.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41455,1602255600000,2020-10-09 15:00:00,AAVE/USDT,25.15312,25.15312,25.15312,25.153120,0.000000e+00,0.000000,0.00,0.000000,0,0.000000
41456,1602252000000,2020-10-09 14:00:00,AAVE/USDT,25.15312,25.15312,25.15312,25.153120,0.000000e+00,0.000000,0.00,0.000000,0,0.000000
41457,1602248400000,2020-10-09 13:00:00,AAVE/USDT,25.15312,25.15312,25.15312,25.153120,0.000000e+00,0.000000,0.00,0.000000,0,0.000000
41458,1602244800000,2020-10-09 12:00:00,AAVE/USDT,25.15312,25.15312,25.15312,25.153120,6.874988e+01,2.733254,0.00,0.000000,0,0.000000
41459,1602201600000,2020-10-09 00:00:00,AAVE/USDT,25.15312,55.00007,25.15312,49.743008,7.614141e+04,1588.618086,0.00,0.000000,0,47.929334